{
  "env": {
    "commonjs": true,
    "browser": true,
    "es6": true
  },

  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:es/no-2018",
    "prettier",
    "prettier/react"
  ],

  "globals": {
    "__filename": "readonly",
    "process": false,
    "spyOn": false
  },

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },

  "plugins": ["es", "jsx-a11y", "react", "react-hooks"],

  "rules": {
    "camelcase": "off",
    "consistent-return": "error",
    "dot-notation": ["error", { "allowKeywords": true }],
    "eqeqeq": ["error", "smart"],
    "jsx-a11y/alt-text": "error",
    "new-cap": "off",
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-caller": "error",
    "no-console": ["error", { "allow": ["info", "warn", "error"] }],
    "no-delete-var": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-fallthrough": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-mixed-spaces-and-tabs": ["error", false],
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-octal-escape": "error",
    "no-octal": "error",
    "no-process-exit": "error",
    "no-proto": "error",
    "no-prototype-builtins": ["off"],
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-sequences": "error",
    "no-shadow-restricted-names": "error",
    "no-shadow": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-undef-init": "error",
    "no-undef": "error",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "error",
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used" }],
    "no-use-before-define": "error",
    "no-var": "error",
    "no-with": "error",
    "object-shorthand": ["error", "properties"],
    "prefer-const": "error",
    "strict": ["off", "never"],
    "yoda": ["error", "never", { "exceptRange": true }],
    "require-atomic-updates": ["off"],

    // `jsx-a11y` rules
    "jsx-a11y/no-onchange": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/media-has-caption": "off",

    // `es` rules
    "es/no-rest-spread-properties": "off",

    // `react` rules
    "react/forbid-foreign-prop-types": "error",
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-no-undef": "error",
    "react/jsx-sort-props": ["error", { "ignoreCase": true }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "import/no-duplicates": "error",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/namespace": "off",
    "import/extensions": [0, "never", { "ts": "never" }]
  }
}
